{{ header }}{{ column_left }}
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<div class="pull-right">
				<button type="submit" form="form-module" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
				<a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
			</div>
			<h1>{{ heading_title }}</h1>
			<ul class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
				<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<div class="container-fluid">
		{% if error_warning %}
		<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i>{{ error_warning }}
			<button type="button" class="close" data-dismiss="alert">&times;</button>
		</div>
		{% endif %}
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><i class="fa fa-pencil"></i>{{ text_edit }}<br/></h3>
			</div>
			<div class="panel-body">
				<form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-module" class="form-horizontal">
					<div class="form-group">
						<label class="col-sm-2 control-label status-label" for="input-status">{{ entry_status }}</label>
						<div class="col-sm-10 col-md-8 ">
							<select name="module_editlanguage_status" id="input-status" class="form-control status-block">
								{% if module_editlanguage_status %}
								<option value="1" selected="selected">{{ text_enabled }}</option>
								<option value="0">{{ text_disabled }}</option>
								{% else %}
								<option value="1">{{ text_enabled }}</option>
								<option value="0" selected="selected">{{ text_disabled }}</option>
								{% endif %}
							</select>
						</div>
					</div>
					<div class="row"  id="lang-content">
						<div class="col-lg-12  col-md-12 col-sm-12">
							<div class="list-group">
								<div class="list-group-item">
									<h4 class="list-group-item-heading">{{ text_language }}</h4>	
								</div>
								<div class="list-group-item">
									<select name="module_lang" class="form-control">
										{% for dir in directory %}
										<option value="{{ dir.name }}">{{ dir.name }}</option>
										{% endfor %}
									</select>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-3 col-md-3 col-sm-12">
								<div class="list-group">
									<div class="list-group-item" style="display: flex; justify-content: space-around;">
										<h4 class="list-group-item-heading">{{ text_language_file }}</h4>
										<button type="button" id="myBtn" data-toggle="modal" data-target="#modal-create-folder"><i class="fa fa-folder fa-fw pull-left icon_path"></i></button>
										<button type="button" data-toggle="modal" data-target="#modal-create-file"><i class="fa fa-file fa-fw pull-left icon_path"></i></button>
									</div>
									<div id="path"></div>
								</div>
							</div>
							<div class="col-lg-9 col-md-9 col-sm-12 main_content">
								<div class="alert alert-info"><i class="fa fa-info-circle" class="btn_yellow"></i> {{ text_twig }}</div>
								<div id="recent"></div>
								<div id="code">
									<ul class="nav nav-tabs"></ul>
									<div class="tab-content"></div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="modal" id="modal-create-folder">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create Directory</h5>
      </div>
      <div class="modal-body">
      	<div class="form-group">
      		<label>Name</label>
      		<input type="text" name="directory_name" class="form-control" />
      	</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-save-create-directory">Save</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal" id="modal-create-file">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create File</h5>
      </div>
      <div class="modal-body">
      	<div class="form-group">
      		<label>Name</label>
      		<input type="text" name="create_file" class="form-control" />
      	</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-save-create-file">Save</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
	var current_directory = '';
	var current_file = '';
	$('.change-lang').click(function(e){
		e.preventDefault();
		$('#lang-content').toggle();
	});
	function getlist(){
		var str = '';
		if(current_directory){
			str = '&path='+current_directory;
		}
		var string = '';
		if(current_file){
			str = '&path='+current_file;	

		}
		$.ajax({
			url: 'index.php?route={{ route }}/getlist&{{ token_str }}&module_lang=' + $('select[name="module_lang"]').val() + str ,
			dataType: 'json',
			beforeSend: function() {
				$('select[name="module_lang"]').prop('disabled', true);
			},
			complete: function() {
				$('select[name="module_lang"]').prop('disabled', false);
			},
			success: function(json) {
				html = '';

				if (json['missing_file']) {
					for (i = 0; i < json['missing_file'].length; i++){ 
						html += '<a href="'+ json['missing_file'][i]['path'] +'"class="list-group-item file" ><i class="fa fa-plus-circle fa-fw pull-left" style="background: red;padding: 2px;color: #fff;"></i>';
						html += '<span data-toggle="tooltip" title="{{ help_copy_file }}">&emsp;' + json['missing_file'][i]['name'] + ' </span>';
						html += '<button data-file = "'+ json['missing_file'][i]['path'] +'" id="missed_file" class="btn btn-sm btn-primary"><i class="fa fa-copy"></i></button>';
						html += '</a>';
					}
				}
				if (json['directory']) {
					for (i = 0; i < json['directory'].length; i++) {
						html += '<a href="' + json['directory'][i]['path'] + '" class="list-group-item directory">&emsp;' + json['directory'][i]['name'] + ' <i class="fa fa-folder fa-fw pull-left icon_path"></i></a>';
					}
				}
				if (json['file']) {
					for (i = 0; i < json['file'].length; i++) {
						html += '<a href="' + json['file'][i]['path'] + '" class="list-group-item file">&emsp;' + json['file'][i]['name'] + ' <i class="fa fa-file fa-fw pull-left icon_path"></i></a>';
					}
				} 

				if (json['back']) {
					html += '<a href="' + json['back']['path'] + '" class="list-group-item directory back_directory">&emsp;' + json['back']['name'] + ' <i class="fa fa-arrow-circle-left fa-fw pull-right"></i></a>';
				}

				$('#path').html(html);
			},
			error: function(xhr, ajaxOptions, thrownError) {
				alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		});
	}
	$('select[name="module_lang"]').on('change', function(e) {
		getlist();
	});

	$('select[name="module_lang"]').trigger('change');

	$('#path').on('click', 'a.directory', function(e) {
		e.preventDefault();

		var node = this;
		current_file = $(node).attr('href');
		current_directory = $(node).attr('href');
		$.ajax({
			url: 'index.php?route={{ route }}/getlist&{{ token_str }}&module_lang=' + $('select[name="module_lang"]').val() + '&path=' + $(node).attr('href'),
			dataType: 'json',
			beforeSend: function() {
				$(node).find('.icon_path').after('<i class="fa fa-circle-o-notch fa-spin fa-fw pull-right loading"></i>');
			},
			complete: function() {
				$(node).find('.loading').remove();

			},
			success: function(json) {
				html = '';

				if (json['missing_file']) {
					for (i = 0; i < json['missing_file'].length; i++){ 
						html += '<a href="'+ json['missing_file'][i]['path'] +'" class="list-group-item file" ><i class="fa fa-plus-circle fa-fw pull-left" style="background: red;padding: 2px;color: #fff;"></i>';
						html += '<span data-toggle="tooltip" title="{{ help_copy_file }}">&emsp;' + json['missing_file'][i]['name'] + ' </span>';
						html += '<button data-file = "'+ json['missing_file'][i]['path'] +'" id="missed_file" class="btn btn-sm btn-primary"><i class="fa fa-copy"></i></button>';
						html += '</a>';
					}
				}
				if (json['directory']) {
					for (i = 0; i < json['directory'].length; i++) {
						html += '<a href="' + json['directory'][i]['path'] + '" class="list-group-item directory">&emsp;' + json['directory'][i]['name'] + '<i class="fa fa-folder fa-fw pull-left icon_path"></i> </a>';
					}
				}

				if (json['file']) {
					for (i = 0; i < json['file'].length; i++) {
						html += '<a href="' + json['file'][i]['path'] + '" class="list-group-item file" >&emsp;' + json['file'][i]['name'] + ' <i class="fa fa-file fa-fw pull-left icon_path " ></i></a>';
					}
				}

				if (json['back']) {
					html += '<a href="' + json['back']['path'] + '" class="list-group-item directory back_directory">&emsp;' + json['back']['name'] + ' <i class="fa fa-arrow-circle-left fa-fw pull-right"></i></a>';
				}

				$('#path').html(html);
			},
			error: function(xhr, ajaxOptions, thrownError) {
				alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		});
	});

	$('#path').on('click', 'a.file', function(e) {
		e.preventDefault();

		var node = $(this);
		var pos = $(node).attr('href').lastIndexOf('.');

		if (pos != -1) {
			var tab_id = $('select[name="module_lang"]').val() + '-' + $(node).attr('href').slice(0, pos).replace(/\//g, '-').replace(/_/g, '-');
		} else {
			var tab_id = $('select[name="module_lang"]').val() + '-' + $(node).attr('href').replace(/\//g, '-').replace(/_/g, '-');
		}

		if (!$('#tab-' + tab_id).length) {
			if ( node.data('requestRunning') ) {
				return;
			}

			node.data('requestRunning', true);

			$.ajax({
				url: 'index.php?route={{ route }}/display_design&{{ token_str }}&module_lang=' + $('select[name="module_lang"]').val() + '&path=' + $(node).attr('href'),
				dataType: 'json',
				beforeSend: function() {
					$(node).find('.icon_path').after('<i class="fa fa-circle-o-notch fa-spin fa-fw pull-right loading"></i>');
				},
				complete: function() {
					node.data('requestRunning', false);
					$(node).find('.loading').remove();
				},
				success: function(json) {
					if (json['code'] ) {

						html = '';
						$('#code').show();
						$('#recent').hide();

						$('.nav-tabs').append('<li><a href="#tab-' + tab_id + '" data-toggle="tab"> ' + $('select[name="module_lang"]').val() + ' / '+ $(node).attr('href').split('/').join(' / ') + '&nbsp;&nbsp;<i class="fa fa-minus-circle"></i></a></li>');

						html += '<div class="tab-pane" id="tab-' + tab_id + '">';
						html += '<table class="table table-bordered table-responsive table-hover">';
						html += '<tr class="info">';
						html +=     '<th class="text-center"> Variable </th>';
						html +=     '<th class="text-center"> Value </th>';
						html +=     '<th class="text-center"> Remove </th>';
						html += '</tr>';

						iterate(json['code'] , '');

						html += '</table>'; 
						html += '  <input type="hidden" name="module_lang" value="' + $('select[name="module_lang"]').val() + '" />';
						html += '  <input type="hidden" name="path" value="' + $(node).attr('href') + '" />';
						html += '  <br />';
						html += '    <button class="btn btn-info add_element"><i class="fa fa-plus-circle"></i></button>';
						html += '  <div class="pull-right">';
						html += '    <button type="button" data-loading-text="{{ text_loading }}" class="btn btn-primary"> {{ button_save }}</button>';
						html += '    <button data-loading-text="{{ text_loading }}" class="btn btn-danger reset-file"> {{ button_reset }}</button>';
						html += '  </div>';
						html += '</div>';

						$('.tab-content').append(html);
						$('.nav-tabs a[href=\'#tab-' + tab_id + '\']').tab('show');
					}
				},
				error: function(xhr, ajaxOptions, thrownError) {
					alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
				}
			});
		} else {
			$('.nav-tabs a[href=\'#tab-' + tab_id + '\']').tab('show');
		}
	});

	$('.nav-tabs').on('click', 'i.fa-minus-circle', function(e) {
		e.preventDefault();

		if ($(this).parent().parent().is('li.active')) {
			index = $(this).parent().parent().index();

			if (index == 0) {
				$(this).parent().parent().parent().find('li').eq(index + 1).find('a').tab('show');
			} else {
				$(this).parent().parent().parent().find('li').eq(index - 1).find('a').tab('show');
			}
		}

		$(this).parent().parent().remove();

		$($(this).parent().attr('href')).remove();

		if (!$('#code > ul > li').length) {
			$('#code').hide();
			$('#recent').show();
		}
	});

	$('.tab-content').on('click', '.btn-primary', function(e) {
		var node = this;

		var ittem_id = $('.tab-content .active table tr td #module_file_code').map(function(){
			var t = $(this).text();
			if(t || t != ''){
				return $.trim(t);
			}
			var v = this.value;
			if(v || v != ''){
				return $.trim(v);
			}
		}).get();

		var input_val = $('.tab-content .active table tr td textarea[name="module_file_valuecode"]').map(function(){
			var v = this.value;
			if(v || v != ''){
				return $.trim(v);
			}
		}).get();
		
		var label_val = JSON.stringify(ittem_id);
		var data_val = JSON.stringify(input_val);

		var file_name =  $('.tab-content .active input[name="module_lang"]').val() + '/'+ $('.tab-content .active input[name="path"]').val() ;

		$.ajax({
			url: 'index.php?route={{ route }}/save&{{ token_str }}&module_lang=' + $('.tab-content .active input[name="module_lang"]').val() + '&path=' + $('.tab-content .active input[name="path"]').val(),
			type: 'post',
			data: {'myData':data_val,'myLabel':label_val,'file_name':file_name},
			dataType: 'json',
			beforeSend: function() {
				$(node).button('loading');
			},
			complete: function() {
				$(node).button('reset');
			},
			success: function(json) {
				$('.alert-dismissible').remove();

				if (json['error']) {
					$('#content > .container-fluid').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '  <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
				}

				if (json['success']) {
					$('#content > .container-fluid').prepend('<div class="alert alert-success alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['success'] + '  <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
				}

				if (json['warning']) {
					$('#content > .container-fluid').prepend('<div class="alert alert-warning alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['warning'] + '  <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
				}

				$(document).scrollTop(0);

			},
			error: function(xhr, ajaxOptions, thrownError) {
				alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		});
	});

	$('.tab-content').on('click', '.reset-file', function(e) {
		e.preventDefault();
		if (confirm('{{ text_confirm }}')) {
			var node = this;

			$.ajax({
				url: 'index.php?route={{ route }}/reset&{{ token_str }}&module_lang=' + $('.tab-content .active input[name="module_lang"]').val() + '&path=' + $('.tab-content .active input[name="path"]').val(),
				dataType: 'json',
				beforeSend: function() {
					$(node).button('loading');
				},
				complete: function() {
					$(node).button('reset');
				},
				success: function(json) {
					$('.alert-dismissible').remove();    
					if (json['success']) {
						if(json['code']){
							$('.tab-content .active table').remove();
							html = '';
							html += '<table class="table table-bordered table-responsive table-hover">';
							html += '<tr class="info">';
							html +=     '<th class="text-center"> Variable </th>';
							html +=     '<th class="text-center"> Value </th>';
							html +=     '<th class="text-center"> Remove </th>';
							html += '</tr>';

							iterate(json['code'] , '');

							html += '</table>'; 
							$('.tab-content .active input[name="module_lang"]').before(html);
						}
						$('#content > .container-fluid').prepend('<div class="alert alert-success alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['success'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
					} 

					if (json['error']) {
						$('#content > .container-fluid').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
					}

					$(document).scrollTop(0);
				},
				error: function(xhr, ajaxOptions, thrownError) {
					alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
				}
			});
			getlist();
		}
	});

	$('#path').on('click', 'button#missed_file', function(e) {
		e.preventDefault();
		var node = $(this);
		var pos = $(node).data('file').lastIndexOf('.');

		if (pos != -1) {
			var tab_id = $('select[name="module_lang"]').val() + '-' + $(node).data('file').slice(0, pos).replace(/\//g, '-').replace(/_/g, '-');
		} else {
			var tab_id = $('select[name="module_lang"]').val() + '-' + $(node).data('file').replace(/\//g, '-').replace(/_/g, '-');
		}

		if (!$('#tab' + tab_id).length) {
			if ( node.data('requestRunning') ) {
				return;
			}
			node.data('requestRunning', true);
			$.ajax({
				url: 'index.php?route={{ route }}/copy_file&{{ token_str }}&module_lang=' + $('select[name="module_lang"]').val() + '&path=' + $(node).data('file'),
				dataType: 'json',
				success: function(json) {
					if (json['code'] ) {

						html = '';
						$('#code').show();
						$('#recent').hide();

						$('.nav-tabs').append('<li><a href="#tab-' + tab_id + '" data-toggle="tab">' + $('select[name="module_lang"]').val() + ' / '+ $(node).data('file').split('/').join(' / ') + '&nbsp;&nbsp;<i class="fa fa-minus-circle"></i></a></li>');

						html += '<div class="tab-pane" id="tab-' + tab_id + '">';
						html += '<table class="table table-bordered table-responsive table-hover">';
						html += '<tr class="info">';
						html += '<th class="text-center"> Variable </th>';
						html += '<th class="text-center"> Value </th>';
						html += '</tr>';

						iterate(json['code'] , '');

						html += '</table>'; 
						html += '  <input type="hidden" name="module_lang" value="' + $('select[name="module_lang"]').val() + '" />';
						html += '  <input type="hidden" name="path" value="' + $(node).data('file') + '" />';
						html += '  <br />';
						html += '    <button class="btn btn-info add_element"><i class="fa fa-plus-circle"></i></button>';
						html += '  <div class="pull-right">';
						html += '    <button type="button" data-loading-text="{{ text_loading }}" class="btn btn-primary"> {{ button_save }}</button>';
						html += '    <button data-loading-text="{{ text_loading }}" class="btn btn-danger reset-file"> {{ button_reset }}</button>';
						html += '  </div>';
						html += '</div>';

						$('.tab-content').append(html);
						$('.nav-tabs a[href=\'#tab-' + tab_id + '\']').tab('show');	
					}
					getlist();
				},
				error: function(xhr, ajaxOptions, thrownError) {
					alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
				}
			});
		} else {
			$('.nav-tabs a[href=\'#tab-' + tab_id + '\']').tab('show');
		}
	});

	html = "";
	function iterate(obj, stack = '') {
		for (var property in obj) {
			if (obj.hasOwnProperty(property)) {
				if (typeof obj[property] == "object") {
					iterate(obj[property], stack + property + " - " );
				} else {
					html += '<tr><td><label id="module_file_code"> '+ stack + property + '</label></td>';
					html += '<td><textarea name="module_file_valuecode" class="form-control" id="lang_val" >'+ obj[property] +'</textarea></td>';
					html += '<td><button class="btn btn-info btn-sm remove_element btn-danger" name="remove_element"><i class="fa fa-minus-circle"></i></button></td></tr>';
				}
			}
		}
		return html;
	}

	$(document).delegate(" .tab-content .add_element" , "click" , function(e){
		e.preventDefault();
		html = '';
		html += '<tr id="add_new_element"><td><input class="form-control" id="module_file_code" type="text" id="lang_val"  value=""/></td>';
		html += '<td><textarea name="module_file_valuecode" class="form-control" id="lang_val"></textarea></td>';
		html += '<td><button class="btn btn-info btn-sm remove_element btn-danger" name="remove_element"><i class="fa fa-minus-circle"></i></button></td>';

		$('.tab-content .active table').append(html);
	});
	$(document).delegate(".tab-content table tr td .remove_element" , "click" , function(e){
		$(this).parent().parent().remove();
	});
</script> 
<style type="text/css">
	#missed_file{
		border-radius: unset;
		outline: none;
		float: right;
		margin: -5px;
	}
	textarea[name="module_file_valuecode"]{
		resize: vertical;
	}		
	.icon_path{
		font-size: 17px;
	}
	.back_directory , .back_directory:hover{
		background-color: #d9edf7 !important;
		border-color: #bce8f1 !important;
		color: #214c61 !important;
	}
	i.btn_yellow{
		text-size: 20px;
	}
	.main_content{
		padding-right: 30px;
	}
	i.fa-folder{
		color: #f3a638;
	}
    @media screen and (max-width: 600px) {
	  div.example {
	    background-color: #ffooff;
	  }
	}
</style>
<script type="text/javascript">
$('.btn-save-create-directory').on('click', function(){
	$this = $(this);
	var name = $('#modal-create-folder [name="directory_name"]').val();

	$('#modal-create-folder').find('.alert').remove();
	$.ajax({
		url:'index.php?route={{ route }}/create_folder&{{ token_str }}&module_lang=' + $('select[name="module_lang"]').val() + '&path=' + current_directory,
		dataType:'json',
		data:{
			name: name
		},
		beforeSend:function(){
			$this.button("loading");
		},
		complete:function(){
			$this.button("reset");
		},
		success:function(json){
			if(json.success){
				$('#modal-create-folder').modal('hide');
				getlist();
			}else{
				$('#modal-create-folder .modal-body').append('<div class="alert alert-danger">'+json.error+'</div>');
			}
		},
	});
});
$('.btn-save-create-file').on('click', function(){
	$this = $(this);
	var name = $('#modal-create-file [name="create_file"]').val();
	console.log(name);
	$('#modal-create-folder').find('.alert').remove();
	$.ajax({
		url:'index.php?route={{ route }}/create_file&{{ token_str }}&module_lang=' + $('select[name="module_lang"]').val() +'&path=' + current_file,
		type:'POST',
		dataType:'json',
		data:{
			name: name
		},
		beforeSend:function(){
			$this.button("loading");
		},
		complete:function(){
			$this.button("reset");
		},
		success:function(json){
			if(json.success){
				$('#modal-create-file').modal('hide');
				getlist();
			}else{
				$('#modal-create-file .modal-body').append('<div class="alert alert-danger">'+json.error+'</div>');
			}
		},
	});
});
</script>
{{ footer }}