{{ header }}
<style type="text/css">
      @media only screen and (max-width: 489px) {
          .input-group-btn>.btn_list {
          position: relative !important;
          margin: 5px 5px 5px 5px !important;
          display: block !important;
          width: 45% !important;
        }
        .add_money{
         margin-top: 5px;
        }

      }
      @media only screen and (max-width: 315px){
        #pad-auto{
          padding: 0px;
        }
      }
    </style>
<div class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  {% if success %}
    <div class="alert alert-success"><i class="fa fa-exclamation-circle"></i><span>&nbsp;&nbsp;{{ success }}</span></div>
  {% endif %}
  {% if error %}
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i><span>&nbsp;&nbsp;{{ error }}</span></div>
  {% endif %}
  <div class="alert alert-danger" style="display: none;"><i class="fa fa-exclamation-circle"></i><span></span></div>
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}    
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <h1>{{ heading_title }}</h1>
      <div class="row">
          <div class="col-xs-12">
            {% if e_wallet_add_money %}
            <div class="well">
              <form action="{{ add_money }}" id="add-money-form" method="post">
                <div class="row">
                  <div class="col-sm-2" style="padding: 0;">
                    <div style="z-index: 10;position: relative;">
                      <a style="color: #666;">
                        <div style="float: left;line-height: 42px;">
                          <img src="{{ e_wallet_icon_url }}" />
                        </div>
                        <div style="float: left;margin-left: 5px;line-height: 21px;">
                          <div style="font-size: 14px;">{{ text_balance }}&nbsp;</div>
                          <div><b><span style="font-size: 17px;" >{{ balance }}</span></b></div>
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="input-group">
                         {% if symbol_left %} <span class="input-group-addon">{{ symbol_left }}</span> {% endif %}
                         <input type="number" name="amount" value="" placeholder="{{ text_amount }}" id="input-amount" class="form-control">
                         {% if symbol_right %} <span class="input-group-addon">{{ symbol_right }}</span>{% endif %}
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <button type="submit" class="btn btn-primary pull-right add_money">{{ text_add_money }}</button>
                  </div>
                </div>
              </form>
              <div class="pp-form" style="display: none;" class="hide"></div>
            </div>
            {% endif %}
          </div>
          <div class="col-xs-12" style="margin-left:-21px;">
           <span class="input-group-btn" id="pad-auto">
              {% if voucher_status %}
                <a class="btn btn-primary pull-right btn_list" href="{{ redeem_voucher }}">{{ text_redeem_voucher }}</a>
              {% endif %}
              {% if e_wallet_bank_detail %}
                <a class="btn btn-primary pull-right btn_list" href id="add_bank_btn">{{ text_add_bank }}</a>&nbsp;
              {% endif %}
              {% if e_wallet_withdraw_requests %}
                <a class="btn btn-primary pull-right btn_list" href="{{ withdrawreq }}">{{ text_withdrawreq }}</a>&nbsp;
              {% endif %}
              {% if e_wallet_send_money %}
                <a class="btn btn-primary pull-right btn_list" href="{{ send_money }}">{{ text_send_money }}</a>
              {% endif %}
            </span>
           <br>
          </div>
          <div class="col-md-12" style="clear: both;padding-left:1px;">
            <form class="" action="{{ formurl }}" method="post">
              <div class="col-xs-4">
                <div class="form-group">
                  <label for="datefrom">{{ entry_from_date }}</label>
                  <input type="text" class="form-control date" value="{{ datefrom }}" name="datefrom" id="datefrom">
                </div>
              </div>
              <div class="col-xs-4">
                <div class="form-group">
                  <label for="dateto">{{ entry_to }}</label>
                  <input type="text" class="form-control date" value="{{ dateto }}" name="dateto" id="dateto">
                </div>
              </div>
              <div class="col-xs-4" style="padding-top: 23px;">
                <button type="submit" class="btn btn-default">{{ entry_generate }}</button>
              </div>
            </form>
            <br>
          </div>
          <div class="col-md-12" style="clear: both;">
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead style="background: #eee;">
                  <tr>
                    <th>{{ text_date }}</th>
                    <th>{{ text_desc }}</th>
                    <th>{{ text_credit }}</th>
                    <th>{{ text_debit }}</th>
                    <th>{{ column_balance }}</th>
                  </tr>
                </thead>
                <tbody>
                  {% set debittotal = 0 %}
                  {% set balancetotal = 0 %}
                  {% set credittotal = openningbalance %}
                  {% if e_wallet_list %}
                  {% set i = 0 %}
                  {% set list = e_wallet_list|length %}                 
                  {% for v in e_wallet_list %} 
                  {% set i = i + 1 %}
                  {% set credittotal = credittotal + v.o_credit %}
                  {% set debittotal = debittotal + v.o_debit %}
                        <tr>
                          <td>{{ v.date }}</td>
                          <td>{{ v.description }}</td>
                          <td>{{ v.credit }}</td>
                          <td>{{ v.debit }}</td>
                          <td>{{ v.balance }}</td>
                        </tr>
                  {% endfor %}
                  {% endif %}
                    <tr>
                      <td>{{ datefrom|date_modify("-1 day")|date("d-m-Y h:i A") }}</td>
                      <td>Opening Balance</td>
                      <td>{{ ccurrency.format(openningbalance,config_currency) }}</td>
                      <td></td>
                      <td>{{ ccurrency.format(openningbalance,config_currency) }}</td>
                    </tr>
                </tbody>
                <tfoot style="background: #eee;">
                  <tr>
                    <th colspan="2">Total</th>
                    <th>{{ ccurrency.format(credittotal,config_currency) }}</th>
                    <th>{{ ccurrency.format(debittotal,config_currency) }}</th>
                    <th>{{ ccurrency.format(credittotal - debittotal,config_currency) }}</th>
                  </tr>
                </tfoot>
              </table>
            </div>
            <div class="row">
              <div class="col-sm-6 text-left">{{ pagination }}</div>
              <div class="col-sm-6 text-right">{{ results }}</div>
            </div>
          </div>
        </div>
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
<div id="add_bank_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-center well">
        <h3>{{ entry_bank_detail }}</h3>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12 well">
            <form class="form-horizontal" id="form-bank" action="{{ add_bank }}" method="post">
            {% for bank in bank_data %}
                {% if bank.status == 1 %}
                  <div class="form-group required">
                    <label class="col-sm-3 control-label" for="input-bank-name">{{ bank.display_name }}</label>
                    <div class="col-sm-9">
                      {% if bank.type == 'text' %}
                          <input type="text" name="bank[{{ bank.key }}]" value="{{ bank.value }}" placeholder="{{ bank.display_name }}" class="form-control">
                      {% else %}
                      <textarea name="bank[{{ bank.key }}]" placeholder="{{ bank.display_name }}" class="form-control">{{ bank.value }}</textarea>
                      {% endif %}
                    </div>
                  </div>
                {% else %}
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="input-bank-name">{{ bank.display_name }}</label>
                    <div class="col-sm-9">
                      {% if bank.type == 'text' %}
                          <input type="text" name="bank[{{ bank.key }}]" value="{{ bank.value }}" placeholder="{{ bank.display_name }}" class="form-control">
                      {% else %}
                      <textarea name="bank[{{ bank.key }}]" placeholder="{{ bank.display_name }}" class="form-control">{{ bank.value }}</textarea>
                      {% endif %}
                    </div>
                  </div>
                {% endif %}
            {% endfor %}
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer well">
        <button type="button" class="btn btn-primary" id="bank_save_btn" data-dismiss="modal">{{ entry_save }}</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">{{ entry_close }}</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $('#add_bank_btn').click(function(){
    $('#add_bank_modal').modal('show');
    return false;
  });
  $('#bank_save_btn').click(function(){
    var _btn = $(this),
        url = $('#form-bank').attr('action'),
        data = $('#form-bank').serialize();
    $('.text-danger').remove();
    $.ajax({
      url:url,
      data:data,
      type:'post',
      dataType:'json',
      beforeSend:function(json){
       $(_btn).button('loading');
      },complete:function(){
        $(_btn).button('reset');
      },success:function(json){
         if (json['error']){
          for(key in json['error']) {
             $('[name="bank['+key+']"]').after("<div class='text-danger'>"+json['error'][key]+"</div>");
          }
        }else{
          $('#add_bank_modal').modal('hide');
          $(_btn).button('reset');
        }
        if (json['success']) {
        $('.breadcrumb').after('<div class="alert alert-success alert-dismissible">' + json['success'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
       }
      }
    });
    return false;
  });
  $('.date').datetimepicker({
    pickTime: false
  });
</script>
{{ footer }}