 <div class="row ">
  <div class="col-lg-3  col-md-3 col-sm-6">
    <div class="tile tile-primary">
      <div class="tile-heading">{{ heading_title1 }} </div>
      <div class="tile-body"><i class="fa fa-exchange"></i>
        <h2 class="pull-right">{{ totaltrasaction }}</h2>        
      </div>
      <div class="tile-footer"><a href="{{ e_wallet }}">{{ text_view }}</a></div>
    </div>      
  </div>
  <div class="col-lg-3  col-md-3 col-sm-6">
    <div class="tile tile-primary">
      <div class="tile-heading">{{ heading_title3 }} </div>
      <div class="tile-body"><i class="fa fa-plus-square-o "></i>
      </div>
      <div class="tile-footer"><a href="{{ add }}">{{ text_view }}</a></div>
    </div> 
  </div>
  <div class="col-lg-3  col-md-3 col-sm-6">
    <div class="tile tile-primary">
      <div class="tile-heading">{{ heading_title4 }} </div>
      <div class="tile-body"><i class="fa fa-credit-card"></i>
      <div class="pull-right" style="line-height: 25px;">        
        <div >{{ pendding }}</div>
        <div >{{ approve }}</div>
        <div >{{ reject }}</div>
      </div>
      </div>
      <div class="tile-footer"><a href="{{ money }}">{{ text_view }}</a></div>
    </div> 
  </div>
  <div class="col-lg-3  col-md-3 col-sm-6">
    <div class="tile tile-primary">
      <div class="tile-heading">{{ heading_title2 }} </div>
      <div class="tile-body"><i class="fa fa-money   "></i>
        <h2 class="pull-right">{{ balance }}</h2>
      </div>
      <div class="tile-footer"><a href="{{ customer }}">{{ text_view }}</a></div>
    </div> 
  </div>
</div>

